<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是DAO接口的全类名  -->

<mapper namespace="com.mlycan.main.mapper.AnswerMapper">
	<resultMap type="com.mlycan.main.entity.Answer" id="answerResultMap"> 
        <id property="answerId" column="answer_id"/> 
        <result property="account" column="account"/>
        <result property="application" column="application"/>
        <result property="ansstion" column="ansntion"/> 
        <result property="content" column="content"/> 
        <result property="command" column="command"/> 
        <result property="pattern" column="pattern"/> 
    </resultMap>
	
	<select id="findAll"   resultMap="answerResultMap">
		   select  ans.answer_id,
				   ans.account,
				   ans.application,
				   ans.question,
				   ans.content,
				   ans.command,
				   ans.pattern
		     from mly_answer ans
		     order by ans.question,ans.create_time
	         <if test=" count!=null">  
               limit #{curpage},#{count}
             </if>
	</select>
	<select id="findAllCount"   resultType="java.lang.Integer">
		 <![CDATA[ 
		   select count(ans.answer_id) as value
		     from mly_answer ans 
		 	]]> 
	</select>
	<select id="findAnswer"   resultMap="answerResultMap">
		<![CDATA[
		  select  ans.answer_id,
				   ans.account,
				   ans.application,
				   ans.question,
				   ans.content,
				   ans.command,
				   ans.pattern
		     from mly_answer ans
		     where ans.answer_id = #{answerId}
			]]>
	</select>
	<insert id="saveAnswer"  >
	<![CDATA[
		   insert into  mly_answer(answer_id,account,application,question,content,command,pattern)
		    VALUES(#{answerId},#{account},#{application},#{question},#{content},#{command},#{pattern})
			]]>
	</insert>
	<update id="updateAnswer"  parameterType="com.mlycan.main.entity.Answer"   >
		<![CDATA[
		   update mly_answer ans
		      set 
		          ans.answer_id=#{answerId},
		          ans.account=#{account},
		          ans.application=#{application},
		          ans.question=#{question},
		          ans.content=#{content},
		          ans.command=#{command},
		          ans.pattern=#{pattern}
		      where  ans.answer_id=#{answerId} 
			]]>
	</update>
	<delete id="deleteAnswer">
	<![CDATA[
	         delete 
	         from mly_answer 
	         where answer_id=#{answerId} 
			]]>
	</delete>
	<delete id="deleteAnswerByparam">
	<![CDATA[
             DELETE  FROM mly_answer  ans
             WHERE ans.account = #{robotAccount}
	         AND   ans.application = #{application}
	         AND   ans.question like  concat('%', #{questionContent}, '%')
             AND   ans.content like  concat('%', #{answerContent}, '%')
             AND   ans.command like  concat('%', #{answerCommand}, '%') 
			]]>
	</delete>
</mapper>
