<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须是Dao接口的全类名 -->
<mapper namespace="com.mlycan.main.mapper.ApplicationMapper">

	<resultMap type="com.mlycan.main.entity.Application" id="applicationResultMap">
		 <id property="robotSceneId" column="robot_scene_id"/> 
		<result property="sceneId" column="scene_id"/>
        <result property="sceneName" column="scene_name"/>
        <result property="sceneComment" column="scene_comment"/> 
        <result property="robotName" column="nickname"/>
        <result property="robotId" column="robot_id"/>
        <result property="robotAccount" column="account"/>
        <result property="robotComment" column="robot_comment"/> 
        <result property="application" column="application"/>
        <result property="semantic" column="semangtic"/>
	</resultMap>
	<select id="findAll" resultMap="applicationResultMap">
			select   rc.robot_scene_id  as robot_scene_id,
			         scen.scene_id      as scene_id,
			         scen.scene_name as scene_name,
			         scen.comment   as scene_comment,
			         robot.account    as account,
			         robot.nickname  as nickname,
			         robot.comment    as robot_comment,
			         scen.application,
			         scen.semantic,
			         ra.robot_id
		   from   mly_robot_scene rc
		   left join mly_robot_app ra  on( ra.robot_scene_id=rc.robot_scene_id 
		   <if test="robotId!=null">
			  and ra.robot_id = #{robotId}
		   </if>
		   )
		   left join mly_scene scen on(rc.scene_id = scen.scene_id)
		   left join mly_robot  robot on(rc.robot_id = robot.robot_id)
		   where rc.status = 1 and scen.scene_id is not null
	</select>
	
</mapper>