<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是DAO接口的全类名  -->

<mapper namespace="com.mlycan.main.mapper.CustomerMapper">
	<resultMap type="com.mlycan.main.entity.Customer" id="customerResultMap"> 
        <id property="customerId" column="member_id"/> 
        <result property="nickname" column="nickname"/> 
        <result property="gender" column="gender"/> 
        <result property="printCount" column="print_count"/> 
        <result property="birthday" column="birthday"   /> 
        <result property="intro" column="intro"/> 
        <result property="comefrom" column="comefrom"/> 
        <result property="qq" column="qq"/> 
        <result property="email" column="email"/> 
        <result property="phone" column="phone"/> 
        <result property="mobile" column="mobile"/> 
        <result property="portrait" column="portrait"/> 
        <result property="signature" column="signature"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="country" column="country"/>
        <result property="zipcode" column="zipcode"/>
    </resultMap>
	<select id="findAll"  resultMap="customerResultMap">
		   select mem.member_id,
		          mem.nickname,
		          mem.gender,
		          pmem.print_count,
		          mem.birthday,
		          mem.intro,
		          mem.comefrom,
		          mem.qq,
		          mem.email,
		          mem.phone,
		          mem.mobile,
		          mem.portrait,
		          mem.signature
		        ,mem.province,mem.city,mem.street,mem.country,mem.zipcode
		      from  mly_member mem 
		      left join mly_member_print pmem on(pmem.member_id = mem.member_id)
		       <if test=" count!=null">  
               limit #{start},#{count}
             </if>
	</select>
	<select id="findAllCount"   resultType="java.lang.Integer">
		 <![CDATA[ 
		   select count(mem.member_id) as value
		     from mly_member mem 
		 	]]> 
	</select>
	<insert id="updatePrint"  >
		<![CDATA[
          replace into mly_member_print(member_id,print_count,print_time) 
           select #{customerId},CASE  WHEN print_count IS NULL  THEN 1 ELSE  max(print_count)+1  end as print_count,now() from mly_member_print where member_id= #{customerId}
	    ]]>
	</insert>
</mapper>
