<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是DAO接口的全类名  -->

<mapper namespace="com.mlycan.main.mapper.PositionMapper">
	<resultMap type="com.mlycan.main.entity.Position" id="positionResultMap"> 
        <id property="positionId" column="position_id"/> 
        <result property="channelIds" column="channelIds"/>
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="positionName" column="position_name"/> 
        <result property="link" column="link"/> 
        <result property="priority" column="priority"/> 
    </resultMap>
	
	<select id="findAll"   resultMap="positionResultMap">
		   select  pos.position_id,
				   pos.position_name,
				   dep.department_id as department_id,
				   dep.department_name as department_name,
				   pos.link,
				   pos.priority
		     from mly_position pos
		     left join mly_department dep on(dep.department_id = pos.department_id)
		      <if test=" departmentId!=null">  
                where pos.department_id = #{departmentId}
              </if>
              <if test=" count!=null">  
               limit #{start},#{count}
              </if>
	</select>
	<select id="findAllCount"   resultType="java.lang.Integer">
		 <![CDATA[ 
		   select count(pos.position_id) as value
		     from mly_position pos 
		 	]]> 
	</select>
	<select id="findPosition"   resultMap="positionResultMap">
		<![CDATA[
		  select  pos.position_id,
		           GROUP_CONCAT(mpc.channel_id) as channelIds,
				   pos.position_name,
				   dep.department_id as department_id,
				   dep.department_name as department_name,
				   pos.link,
				   pos.priority
		     from mly_position pos
		     left join mly_department dep on(dep.department_id = pos.department_id)
		     left join mly_position_channel mpc on(mpc.position_id = pos.position_id)
		     where pos.position_id = #{positionId}
		     group by pos.position_id
			]]>
	</select>
	<insert id="savePosition"    useGeneratedKeys="true" keyProperty="positionId">
	   <![CDATA[
	       insert into  mly_position(position_name,department_id,link,priority)
		    VALUES(#{positionName},#{departmentId},#{link},#{priority}) 
		   
			]]>
	</insert>
	<delete id="deletePosiChannel">
	       <![CDATA[
	          delete  from mly_position_channel where position_id=#{positionId} 
			]]>
	</delete>
	<insert id="replacePosiChannel" >  
	   
	    replace into mly_position_channel(position_id, channel_id) VALUES 
	    <foreach collection="permissions" index="index" item="item"  separator=",">  
	        (#{positionId},#{item}) 
	    </foreach>  
	</insert> 
	<update id="updatePosition"  parameterType="com.mlycan.main.entity.Position"   >
		<![CDATA[
		   update mly_position pos
		      set 
		          pos.position_name=#{positionName},
		          pos.department_id=#{departmentId},
		          pos.link=#{link},
		          pos.priority=#{priority}
		      where  pos.position_id=#{positionId} 
			]]>
	</update>
	<delete id="deletePosition">
	<![CDATA[
	         delete 
	         from mly_position 
	         where position_id=#{positionId} 
			]]>
	</delete>
	
</mapper>
