<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是DAO接口的全类名  -->
<mapper namespace="com.mlycan.main.mapper.RepositoryMapper">
	<resultMap type="com.mlycan.main.entity.Repository" id="repositoryResultMap"> 
        <result property="knowledgeId" column="knowledge_id"/>
        <result property="account" column="account"/>
        <result property="application" column="application"/>
        <result property="semantic" column="semantic"/> 
        <result property="command" column="command"/>
        <result property="content" column="content"/> 
        <result property="code" column="code"/> 
        <result property="createTime" column="create_time"/> 
    </resultMap>
	<select id="findAll"   resultMap="repositoryResultMap">
		   select  
				    klge.knowledge_id,
					klge.account,
					klge.application,
					klge.semantic,
					klge.command,
					klge.content,
					klge.code,
					klge.create_time
		     from mly_knowledge klge
	         <if test=" count!=null">  
               limit #{curpage},#{count}
             </if>
	</select>
	<select id="findAllCount"   resultType="java.lang.Integer">
		 <![CDATA[ 
		   select count(klge.knowledge_id) as value
		     from mly_knowledge klge
		 	]]> 
	</select>
	<select id="findRepository"   resultMap="repositoryResultMap">
		<![CDATA[
		  select    klge.knowledge_id,
					klge.account,
					klge.application,
					klge.semantic,
					klge.command,
					klge.content,
					klge.code,
					klge.create_time
		     from mly_knowledge klge
		    where knowledge_id=#{knowledgeId}
			]]>
	</select>
	 <insert id="saveRepository"  >
	<![CDATA[
		   insert into  mly_knowledge(account,application,semantic,command,content,code,create_time)
		    VALUES(#{account},#{application},#{semantic},#{command},#{content},#{code},now())
			]]>
	</insert> 
	<update id="updateRepository" parameterType="com.mlycan.main.entity.Repository"   >
		<![CDATA[
		   update mly_knowledge klge
		      set 
		          klge.account=#{account},
		          klge.application=#{application},
		          klge.semantic=#{semantic},
		          klge.command=#{command},
		          klge.content=#{content},
		          klge.code=#{code}
		      where knowledge_id=#{knowledgeId}
			]]>
	</update>
	<delete id="deleteRepository">
	<![CDATA[
	         delete 
	         from mly_knowledge
	         where knowledge_id=#{knowledgeId} 
			]]>
	</delete>
</mapper>
