<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace必须是DAO接口的全类名  -->

<mapper namespace="com.mlycan.main.mapper.SceneMapper">
	<resultMap type="com.mlycan.main.entity.Scene" id="sceneResultMap"> 
        <id property="sceneId" column="scene_id"/> 
        <result property="sceneName" column="scene_name"/>
        <result property="application" column="application"/>
        <result property="semantic" column="semangtic"/>
        <result property="active" column="active"/> 
        <result property="comment" column="comment"/> 
    </resultMap>
	
	<select id="findAll"   resultMap="sceneResultMap">
		   select  scen.scene_id,
				   scen.scene_name,
				   scen.application,
				   scen.semantic,
				   scen.active,
				   scen.comment
		     from mly_scene scen
	         <if test=" count!=null">  
               limit #{curpage},#{count}
             </if>
	</select>
	<select id="findAllCount"   resultType="java.lang.Integer">
		 <![CDATA[ 
		   select count(scen.scene_id) as value
		     from mly_scene scen 
		 	]]> 
	</select>
	<select id="findScene"   resultMap="sceneResultMap">
		<![CDATA[
		    select  scen.scene_id,
				   scen.scene_name,
				   scen.application,
				   scen.semantic,
				   scen.active,
				   scen.comment
		     from mly_scene scen
		     where scen.scene_id = #{sceneId}
			]]>
	</select>
	<insert id="saveScene"  >
	<![CDATA[
		   insert into  mly_scene(scene_name,application,semantic,active,comment)
		    VALUES(#{sceneName},#{application},#{semantic},#{active},#{comment})
			]]>
	</insert>
	<update id="updateScene"  parameterType="com.mlycan.main.entity.Scene"   >
		<![CDATA[
		   update mly_scene scen
		      set 
		          scen.scene_id=#{sceneId},
		          scen.scene_name=#{sceneName},
		          scen.application=#{application},
		          scen.semantic=#{semantic},
		          scen.active=#{active},
		          scen.comment=#{comment}
		      where  scen.scene_id=#{sceneId} 
			]]>
	</update>
	<delete id="deleteScene">
	<![CDATA[
	         delete 
	         from mly_scene 
	         where scene_id=#{sceneId} 
			]]>
	</delete>
	
</mapper>
